<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
</head>
<ul>
{% for entry in entries %}
    <li>title:{{ entry.title|safe }}</li>
    <li>url:{{ entry.url }}</li>
    <li>sumary:{{ entry.summary|safe }}</li>
    <br>



  {% comment %}
    {% for e in entry.content %}
			<li>description:{{ e.value|safe }}</li>
    {% endfor %}
  {% endcomment %}


   
{% endfor %}

{% for rowli in row %}
    <li>areaname:{{ rowli.station_name }}</li>
    <li>higherareaid:{{ rowli.station_id }}</li>
{% endfor %}


<li>error: {{ error_message }}</li>

</ul>
</html>





